asgiref==3.12.1
boto3==1.43.65
botocore==1.43.65
dj-database-url==3.1.2
Django==6.0.7
django-storages==1.14.6
dotenv==0.9.9
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.2
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
requests==2.34.2
djangorestframework==3.18.0