body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #ffffff, #abdeff);
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #1589d8;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    transform: translateY(-5px);
    background-color: #0c5f96;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.btn:active{
    transform: scale(.96);
}

.back-button{
    position: fixed;
    top: 15px;
    left: 15px;

    font: Roboto;
    font-size: 15px;
    font-weight: bold;

    border-radius: 3px;
    border: none;

    background-color: #1589d8;
    color: white;

    height: 30px;
    width: 80px;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    transition: 0.2s;

    cursor: pointer;
}

.submit-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submit{
    gap: 10px;
    background-color: #1591DC;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 85vw;
    max-width: 600px;
    height: 50px;
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    transition: 0.2s;
}

.submit:hover{
    transform: translateY(-5px);
    background-color: #0c5f96;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}