{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="icon" href ="{% static 'icons/logo.png' %}">

        <link rel="stylesheet" href="{% static 'css/filespage.css' %}">
    </head> 

    <body>
        <a href="{%url 'index'%}"><button class="back-button">🢀 back</button></a>
        
        <div class="filterbar">

            <div>
                <div>
                    <input type="checkbox" id="Exam">
                    <label for="Exam">Exam</label>
                </div>

                <div>
                    <input type="checkbox" id="Mid Term">
                    <label for="Mid Term">Mid Term</label>
                </div>
            </div>

            <div>
                <label for="Year">Year:</label>
                <input type="range" id="Year" name="Year" min="1974" max="2027" step="1" value="5">
            </div>

            <div>
                <label for="Teacher">Teacher:</label>
                <input type="text" id="Teacher" name="Teacher">
            </div>

        </div>

        {% for paper in papers %}
            <div class="filesection">
                
                <div>
                    <img class="image" src="{% static 'icons/doc.png' %}">
                    <a href="{% url 'view_pdf' paper.id %}" target="_blank">
                        <p class="papertype">{{paper.year}} - {{paper.establishment}}</p>
                    </a>
                </div>
            
                <button class="report-button">
                    <img style="height:22px; padding-right:6px; filter:invert(100%);" src="{% static 'icons/warning.png' %}">
                    Report!
                </button>
                
            </div>
        {% endfor %}

    </body>
</html>