{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N7RLLL4Z');</script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0454C4N94"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-W0454C4N94');
        </script>

        

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>tela33amek</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="icon" href ="{% static 'icons/logo.png' %}">
        
        <link rel="stylesheet" href="{% static 'css/homepage/body.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage/sidebar.css' %}">

        <script src="{% static 'js/search.js' %}" defer></script>

    <body>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7RLLL4Z"height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        <div class="header">
            <div class="left">
                <img class="logo" src=" {% static 'icons/logo_with_slogan.png' %}">
            </div>
            
            <div class="search-container">
                <button class="search-button">
                    <img loading="lazy" class="search-icon" src="{% static 'icons/magnifying-glass.png' %}">
                </button>
                <input id="search-bar" class="search-bar" role="textbox" placeholder="Search">
            </div>
            
            <div class="right">
               
                <button class="upload-button" onclick="document.getElementById('feedback').showModal()">   
                    <img id="repost" class="upload-logo" src="{% static 'icons/repost.png '%}">
                    Feed Back
                </button>
                
                <a href="{% url 'upload' %}" style="text-decoration: none;">
                    <button class="upload-button">
                        <img style="height: 20px;" class="upload-logo" src="{% static 'icons/upload.svg' %}"> Upload
                    </button>
                </a>

                <a href="{% url 'support' %}" style="text-decoration: none;">
                    <button class="upload-button">
                        <img style="height: 30px;" class="upload-logo" src="{% static 'icons/coin-svgrepo-com.svg' %}"> Help Us!
                    </button>
                </a>


                <dialog id="feedback">
                    <form method="POST" action="{% url 'feedback' %}">
                        {% csrf_token %}
                        <div class="feedback-head">
                            <p class="feedback-eyebrow">Rate out service</p>
                            <h1>how do you rate your experience?</h1>
                        </div>

                        <div class="feedback-body">
                            <div class="stars">
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label for="star5" title="5 stars">&#9733;</label>

                                <input type="radio" id="star4" name="rating" value="4" />
                                <label for="star4" title="4 stars">&#9733;</label>

                                <input type="radio" id="star3" name="rating" value="3" />
                                <label for="star3" title="3 stars">&#9733;</label>

                                <input type="radio" id="star2" name="rating" value="2" />
                                <label for="star2" title="2 stars">&#9733;</label>

                                <input type="radio" id="star1" name="rating" value="1" />
                                <label for="star1" title="1 star">&#9733;</label>
                            </div>

                            <label class="desc-label" for="report-desc">Tell us more</label>
                            <textarea name="description" id="report-desc" placeholder="Add any details that will help us imporve our service"></textarea>
                        </div>

                        <div class="report-actions">
                            <button class="btn btn-ghost" type="button" onclick="document.getElementById('feedback').close()">Close</button>
                            <button class="btn btn-submit" type="submit">Send Feedback</button>
                        </div>
                    </form>
                </dialog>
            </div>
            
        </div>

        <div class="sidebar">
            <a href="https://github.com/ycn3310" target="_blank"><img class="fac-logo" src="{% static 'icons/github.png' %}"></a>
            <a href="https://discordapp.com/users/1143921613826433124" target="_blank"><img class="fac-logo" src="{% static 'icons/discord.svg' %}"></a>
            <a href="https://www.instagram.com/yacin.oop/" target="_blank"><img class="fac-logo" src="{% static 'icons/instagram.png' %}"></a>
        </div>

        <div class="modules" id="modules">
            {% for course in courses %}
                <a href="{% url 'papers' course.id %}" style="text-decoration: none;" class="module-link">
                    <div class="module" Data-module="{{course.name}}">
                        <img loading="lazy" class="symbol" src="{{course.logo_path.url}}">
                        <p class="separator">⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</p>
                        <p class="module-name">{{course.name}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

    </body>
</html>