{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>tela33amek</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="icon" href ="{% static 'icons/logo.png' %}">
        
        <link rel="stylesheet" href="{% static 'css/homepage/body.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage/sidebar.css' %}">

        <script src="{% static 'js/search.js' %}" defer></script>

    <body>
        <div class="header">
            <div class="left">
                <img class="logo" src=" {% static 'icons/logo_with_slogan.png' %}">
            </div>
            
            <div class="search-container">
                <button class="search-button">
                    <img class="search-icon" src="{% static 'icons/magnifying-glass.png' %}">
                </button>
                <input id="search-bar" class="search-bar" role="textbox" placeholder="Search">
            </div>
            
            <div class="right">
                <a href="{% url 'upload' %}" style="text-decoration: none;">
                    <button class="upload-button">   
                        <img id="repost" class="upload-logo" src="{% static 'icons/repost.png '%}">
                        Feed Back
                    </button>
                </a>
                <a href="{% url 'upload' %}" style="text-decoration: none;">
                    <button class="upload-button">
                        <img style="height: 20px;" class="upload-logo" src="{% static 'icons/upload.svg' %}"> Upload
                    </button>
                </a>
                <a href="{% url 'support' %}" style="text-decoration: none;">
                    <button class="upload-button">
                        <img style="height: 30px;" class="upload-logo" src="{% static 'icons/coin-svgrepo-com.svg' %}"> Help Us!
                    </button>
                </a>
            </div>
            
        </div>

        <div class="sidebar">
            <a href="https://github.com/ycn3310" target="_blank"><img class="fac-logo" src="{% static 'icons/github.png' %}"></a>
            <a href="https://discordapp.com/users/1143921613826433124" target="_blank"><img class="fac-logo" src="{% static 'icons/discord.svg' %}"></a>
            <a href="https://www.instagram.com/yacin.oop/" target="_blank"><img class="fac-logo" src="{% static 'icons/instagram.png' %}"></a>
        </div>

        <div class="modules" id="modules">
            {% for course in courses %}
                <a href="{% url 'papers' course.id %}" style="text-decoration: none;" class="module-link">
                    <div class="module" Data-module="{{course.name}}">
                        <img class="symbol" src="{{course.logo_path.url}}">
                        <p class="separator">⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</p>
                        <p class="module-name">{{course.name}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

    </body>
</html>