body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background:linear-gradient(0deg, #ffffff,#abdeff );

    padding-top: 20px;
}

.filesection{
    width: 1000px;
    height: 70px;

    border:none;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: white;

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);


    transition: 0.2s;
}

.filesection:hover{
    transform:translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,.2);

}

.filesection:active{
    transform:scale(.96);
}

.filesection>div{
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 10px
}

.filesection>p{
    font-size: 20px;
    font: Roboto;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: underline;
}

.image{
    height: 50px;
}

.papertype{
    font-size: 30px;
    font: Roboto;
    font-family: Roboto;
    font-weight: 500;

}

.back-button{
    position: fixed;
    top: 15px;
    left: 15px;

    font: Roboto;
    font-size: 15px;
    font-weight: bold;

    border-radius: 3px;
    border: none;

    background-color: #1589d8;
    color: white;

    height: 30px;
    width: 80px;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    transition: 0.2s;

    cursor: pointer;

    z-index: 1000;
}

.back-button:hover{
    transform: translatey(-3px);
    background-color: #0c5f96;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.filterbar{
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: #ffffff;
    display:flex;
    align-items: center;
   
    height: 60px;

    padding-left: 10px;
    padding-right: 10px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    z-index: 999;

    justify-content:flex-end;
}

.filterbar>div{
    display: flex;
    flex-direction: row;
}

body{
    padding-top: 80px;
}

.report-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(173, 59, 59);
    color: white;
    font-family: Roboto, Arial;
    font: Roboto;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    height: 30px;
    cursor:help;
}

.report-button:hover{
    background-color: rgb(146, 52, 52);
}