.header{
    border-bottom: 1px solid rgb(153, 153, 153);
    background-color: #ffffff;
    display:flex;
    align-items: center;
   
    height: 60px;

    padding-left: 10px;
    padding-right: 10px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    z-index: 1000;
}

.right,.left{
    flex: 1;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.search-container{
    position: relative;
    flex: 0 0 auto;
}

.search-icon{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    pointer-events: none; 

    filter: invert(100%);
}

.search-bar{
    resize: horizontal;
    max-width: 600px;
    width: 350px;
    min-width: 100px;
    height: 40px;
    overflow: hidden;

    padding-left: 40px;

    margin-left: 0px;
    border-radius: 10px;
    border: 1px solid rgb(153, 153, 153);
    

    font-size: 18px;
    font-weight: bold;

    background-color: #1591DC;
    color: white;

    outline: none;
    
}

.search-bar::placeholder{
    color: white;
    opacity: 1;
}

.search-button{
    height: 25px;
    margin-right: 5px;
    border: none;
    background-color: white;
}

.upload-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1591DC;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.upload-logo{
    filter: invert(100%)
}

.logo{
    height: 45px;
    padding-left: 10px;
}

@media (max-width: 768px){

    .header{
        padding-left: 10px;
        padding-right: 10px;
        height: 55px;
    }

    .logo{
        height: 6vw;
        padding-left: 3px;
    }

    .search-bar{
        width: 30vw;
        min-width: 110px;
        height: 36px;
        font-size: 15px;
        padding-left: 38px;
        padding-right: 3px;
    }

    .search-icon{
        width: 18px;
        height: 18px;
        left: 30px;
    }

    .upload-button{
        width: 42px;
        height: 42px;
        font-size: 0;
        gap: 0;
    }

    .upload-logo{
        width: 20px;
        height: 20px;
    }
}