.modules{
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 20px;
}

.module{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 180px;
    width: 100%;

    border: none;
    border-radius: 16px;
    background:linear-gradient(135deg, #2da7ff,#1589d8 );

    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    transition:.2s;
}

.module:hover{
    transform:translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,.2);

}

.symbol{
    padding-top: 20px;
    height: 30%;
    filter: invert(100%);
    margin-bottom: 10px;
}

.module-name{
    font-family: Roboto;
    font-size:  23px; 
    font-weight: bold;
    color: white;
    margin-top: 0px;
    text-align: center;
    width: 170px;            
    
    overflow: hidden;        
    text-overflow: ellipsis;

    margin-bottom: 0px;

}

.separator{
    margin-bottom: 0px;
    color: white;
    font-weight: 2000;
    margin-top: 0px;
    text-align: center;
    width: 160px;            
    
    overflow: hidden;        
    text-overflow:clip;
}